.App{
  width: 100%;
  min-height: 100vh;
  background-color: rgba(94, 94, 238, 0.772);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inpBtnMain{
  padding-top: 10vh;
  text-align: center;
}
h1{
  color: white;
}
.inpBtnMain input{
 width: 40vw;
 padding: 8px;
 border-radius: 8px;
 border: none;
 outline: none;
color: rgba(94, 94, 238, 0.772);
}
.inpBtnMain button{
  margin-left: 5px;
  width: 50px;
 padding: 8px;
 cursor: pointer;
 border-radius: 8px;
 border: none;
 outline: none;
color: rgba(94, 94, 238, 0.772);
}
li{
  list-style: none;
  width: 50vw;
  min-height: 40px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: white;
  border-radius: 7px;
  position: relative;
}
.btns{
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
  width: 50px;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  outline: none;
 color: rgba(94, 94, 238, 0.772);
}
.btn{
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 70px;
  width: 50px;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  outline: none;
 color: rgba(94, 94, 238, 0.772);
}